.our-work {
    /* height: 2392px; */
    flex-shrink: 0;
    background: #020E35;
    padding-bottom: 50px;
}

.our-work-section {
    text-align: center;
    padding-bottom: 61px;
}

.our-work-title {
    color: #FFF;
    font-family: Basic;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: inline-block;
    padding-top: 391px;
}

.our-work-title::after {
    content: '';
    height: 2px;
    width: 60%;
    background: #E73587;
    position: absolute;
    left: calc(50% - 32%);
    bottom: 0;
}

.our-work-card {
    padding-bottom: 70px;
}

.card-brand {
    color: #FFF;
    font-family: Basic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.card-device {
    color: #FFF;
    font-family: Basic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    padding-bottom: 49px;
}

.card-description {
    color: #FFF;
    font-family: Basic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-ui-bg {
    max-width: 587px;
    height: 390px; 
    justify-content: center;
    display: flex;
}

.card-ui {
    width: 100%;
}

.button {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Basic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-style: none;
    margin: auto;
    display: inherit;
}