body {
    background-color: #f8f9fa;
    font-family: 'Basic', sans-serif; 
}

.navbar-container {
    position: relative;;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 120px;
}

.logo-img {
    padding-top: 27px;
    padding-left: 27px;
}

.logo-bg-blue {
    width: 100px;
    height: 120px;
    background: #020E35;
}

.logo-bg-purple {
    width: 100px;
    height: 6px;
    flex-shrink: 0;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    position: absolute;
    bottom: 0;
}

.navbar-nav {
    max-width: 1440px;
    max-height: 80px;
}

.nav-link {
    color: #000 !important; 
    font-size: 12px !important;
    font-weight: 400 !important;
}

.nav-text {
    font-family: Basic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.nav-btn {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    width: 107px;
    height: 40px;
    flex-shrink: 0;
    border-style: none;
}

.content-text-section {
    position: relative;
}

.text-content {
    color: #020E35;
    font-family: Basic;
    font-size: 97px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 531px;
    position: relative;
    z-index: 2;
    padding-top: 132px;
    min-width: 496px;
}

.image-content {
    max-width: 100%;
}

.content-button {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Basic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-style: none;
    position: absolute;
    top: 470px;
    z-index: 1;
}

.jumbotron {
    padding-top: 38px;
}
  
.content {
    padding: 30px;
    text-align: center; 
    position: relative;
}

.oval {
    position: absolute;
    top: 70px;
    left: -110px;
    z-index: -1;
}

.about-us-title {
    color: #020E35;
    font-family: Basic;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: inline-block;
    padding-top: 100px;
}

.about-us-title::after {
    content: '';
    height: 2px;
    width: 60%;
    background: #E73587;
    position: absolute;
    left: calc(50% - 32%);
    bottom: 0;
}

.text {
    color: #2B2B2B;
    text-align: center;
    font-family: 'Basic', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    max-width: 823px;
    margin: auto;
}

.card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
    border-style: none !important;
    }

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    color: #2B2B2B;
    text-align: center;
    font-family: Basic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-text {
    color: #2B2B2B;
    text-align: center;
    font-family: Basic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 22px;
    padding-bottom: 59px;
}

.oval-next {
    position: absolute;
    bottom: 420px;
    right: 15px;
}

.path-next {
    position: absolute;
    bottom: 440px;
    right: 40px;
}

.about-us {
    position: relative;
}


/* Responsiveness */
@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
        max-width: 100%;
    }

    .card {
        padding: 15px;
    }

    .card-title {
        font-size: 1.2rem;
    }

}

#blue-bg {
    /* background: rgb(2,14,53); */
    /* background: linear-gradient(0deg, rgba(2,14,53,1) 50%, rgba(255,255,255,1) 50%);  */
    background: linear-gradient(to bottom,
    white 24%,
    #020E35 24%,
    #020E35 76%
    );
    /* height: 100px; */
}

.our-work {
    /* height: 2392px; */
    flex-shrink: 0;
    /* background: #020E35; */
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.our-work-section {
    text-align: center;
    padding-bottom: 61px;
}

.our-work-title {
    color: #FFF;
    font-family: Basic;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: inline-block;
    padding-top: 100px;
}

.our-work-title::after {
    content: '';
    height: 2px;
    width: 60%;
    background: #E73587;
    position: absolute;
    left: calc(50% - 32%);
    bottom: 0;
}

.our-work-card {
    padding-bottom: 70px;
}

.card-brand {
    color: #FFF;
    font-family: Basic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.card-device {
    color: #FFF;
    font-family: Basic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    padding-bottom: 49px;
}

.card-description {
    color: #FFF;
    font-family: Basic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-ui-bg {
    max-width: 587px;
    height: 390px; 
    justify-content: center;
    display: flex;
}

.card-ui {
    width: 100%;
}

.button {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Basic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-style: none;
    margin: auto;
    display: inherit;
}

.side-content {
    padding: 15px;
    margin-bottom: 15px;
}

.contact-text {
    color: #2C3241;
    font-family: Basic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.contact-text-1 {
    color: #020E35;
    font-family: Basic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-text-2 {
    color: #020E35;
    font-family: Basic;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px; /* 122.222% */
}

.hear {
    color: #E73587;
}

.input {
    width: 554px;
    height: 48px;
    flex-shrink: 0;
    fill: #FFF;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.20);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset;
}

.footer {
    background-color: black;
    padding: 10px;
}

.copy {
    color: #FFF;
    text-align: left;
    font-family: Basic;
    font-size: 15px;
    line-height: 15px;
    padding-left: 135px;
}

.footer a {
    color: #FFF;
    text-decoration: none;
}

.button-contact {
    padding-top: 30px;
}
